<div class="background-block content-area">
  <div class="container">
    <div class="well clearfix">
      <div class="col-xs-12">
        <h3 >Clan Application</h3>
        <%= render 'application', clan_application: @clan_application %>
      </div>
    </div>
  </div>
</div>
