<div style="color: black; ">
  <%= image_tag(attachments['logo.png'].url, style: 'width: 100%' ) %>
</div>
<p style="text-align: justify">
Thank you for taking the time to set up a Game Roster clan.  We are incredibly grateful
for your support and will continue to strive to help you promote and build stronger
gaming communities.  The following tips will help you get started:
</p>

<p style="text-align: justify">
<strong>User Permissions</strong> - your clan comes with customizable ranks and permissions.  By
default, members will not be able to post events, notices, or to chat.  You can edit these
permissions on the bottom of the Edit Clan page and assign ranks to each member on
the Members tab.
</p>

<p style="text-align: justify">
  <strong>Discord Bot</strong> - you can configure a Discord bot to automatically share all your clan's
events on any Discord server you have admin permissions for.  Simply press the
"Configure Discord Bot" button in the Access and Preferences section of the Edit Clan
page to get started.
</p>

<p style="text-align: justify">
  <strong>Bungie Integration</strong> - for those looking to sink some time in Destiny 2, you can add links
  to your Game Roster page by copying the clan URL.  You can also share events in
  Bungie’s clan chat and forums by copying the event information, which you can do after
  posting an event or by selecting the Share button inside the roster.  Using your clan
  rosters to build LFG teams increases your clan activity level and promotion.
</p>

<p style="text-align: justify">
  <strong>Activity Level</strong> - is measured based on the number of posted Clan Events in the
preceding two weeks and the upcoming two weeks.  This is used to help users find
active clans.  A high activity level will promote the clan on the Home page, at the top of
our search results, and in Google’s search index.
</p>

<p style="text-align: justify">
  <strong>Clan Access</strong> - clans access can be restricted with the Clan Status drop down.  Clan
Access Codes can be used to restrict anyone from joining that does not have your code,
which is a great way to help migrate your clan over from another platform or to reward
subscribers. Simply create a code and share it with the people you want to see in your
clan.
</p>

<p style="text-align: justify">
  Please consider following us on Twitter and Facebook if you want to stay up to date with
new products and other announcements. Thank you again for making Game Roster a
home for you community.
</p>

<p style="text-align: left">
  Follow on Twitter - https://twitter.com/GameRoster<br>
  Follow on Facebook - https://www.facebook.com/gameroster/
</p>

<br>
<p style="text-align: left">
  <strong>Tony</strong>
  <br>Founder, <a href="gameroster.com" style="text-decoration: none;color: black;">GameRoster.com</a>
  <br>Clans | Players | Games
  <br>Twitter - @GameRoster
  <br>Facebook - @gameroster
</p>
<br>
<p style="text-align: left">
  Click here to unsubscribe from emails and modify your email preferences:  <a href="https://gameroster.com/profile/edit?step=2">https://gameroster.com/profile/edit?step=2</a>
</p>
