<div style="color: black; ">
  <%= image_tag(attachments['logo.png'].url, style: 'width: 100%' ) %>
</div>

<p>
  Our first Discord Bot is finally here. With a couple quick steps, you can now share all your clan
  events on your Discord server.
</p>
<br>
<p>
  <b>Step 1:</b>
  Login and head to your Edit Clan page (if you are the Founder)
</p>
<p>
  <b>Step 2:</b>
  Select "Configure Discord Bot" in the Clan Access section
</p>
<p>
  <b>Step 3:</b>
  Review the Discord permissions and select the channels you want to post on
</p>
<p>
  <b>Step 4:</b>
  Relax and never have to worry about managing your LFG in Discord
</p>
<br>

<p>
  Once you set this up you will have all the benefits of your community LFG in your Discord
  channel. Any member of your clan that posts a clan event will automatically share these events
  on your server for others to join. Our interactive game rosters:
</p>
<br>
<ul>
  <li>
    Let you know when players join
  </li>
  <li>
    Let you know when players leave
  </li>
  <li>
    Let you know who was invited
  </li>
  <li>
    Let you schedule events in advance
  </li>
  <li>
    Automatically move waitlist players into the roster
  </li>
  <li>
    Notify roster participants of time changes
  </li>
  <li>
    Help you know more about you are playing with
  </li>
</ul>
<br>
<p>
  Also, by posting rosters you will help your clan. Clans with the most posts will show up on the
Home page and at the top of search results.
</p>

<p style="text-align: left">
  <br>
  <a href="gameroster.com" style="text-decoration: none;color: black;">
    <b>Game Roster</b>
  </a>
  <br>
  Clans | Players | Games<br>
  Limitless Communities<br>
  @GameRoster<br>
</p>
