<div style="color: black; ">
  <%= image_tag(attachments['logo.png'].url, style: 'width: 100%' ) %>
</div>

<p style="text-align: justify">
  Today we are launching an update for our Discord LFG bot.  The bot automatically shares any clan event in your Discord server after a member posts it on Game Roster.  The update provides a daily list of ALL your clan's upcoming events and daily clan updates. We are also introducing the following Discord server commands:
</p>
<p style="text-align: justify">
  <b>!clan</b> - type !clan to Display your clan information and a link to your clan's Game Roster page.
</p>
<p style="text-align: justify">
  <b>!events</b> - type !events to display all upcoming clan events.  Click any event to join the roster.
</p>
<p style="text-align: justify">
  <b>!join</b> - type !join to sign up for a Free Game Roster account.
</p>
<p style="text-align: justify">
  <b>!post</b> - type !post to get a customized link that lets your Discord members post clan events for over 80 different game titles.
</p>
<p style="text-align: justify">
  You can add the bot or modify your settings at anytime on your Game Roster Edit Clan page.
</p>


<p style="text-align: left">
  <br>
  <a href="gameroster.com" style="text-decoration: none;color: black;">
    <b>Game Roster Support</b>
  </a>
  <br>
  Clan Hosting and Tools<br>
  Twitter - @GameRoster<br>
</p>

<p style="text-align: left">
This email was sent as part of your Game Roster membership.  Click here to unsubscribe from emails and modify your notification preferences:  <a href="https://gameroster.com/profile/edit?step=2">gameroster.com</a>
</p>
