<div style="color: black; ">
  <%= image_tag(attachments['logo.png'].url, style: 'width: 100%' ) %>
</div>

<p style="text-align: justify">
  After months of development, and several gallons of questionable coffee, we are proud to announce that GameRoster.com is now in Open Beta and offering Elite perks to users that sign up or login during this time.  We have overhauled the site and are introducing new tools that let you find, promote, and build stronger gaming communities:
</p>

<ul>
  <li>
    <p  style="text-align: justify">
      <b>Clan Hosting </b>
       – No clan size limits. Join as many as you want.
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Community LFG </b>
       – Build your own LFG that is exclusive to your clan
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Custom Ranks and Permissions </b>
       – Set ranks and permissions for each role
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Clan Access Codes </b>
       – Restrict clan access with customized codes
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Clan Recruitment </b>
       – Create applications that are shared with members
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Clan Donations </b>
       – Set optional annual dues or pledges
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Real Time Chat </b>
       – Use Discord, Slack, Curse or Game Roster’s chat
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Group Messaging </b>
       – Quickly contact the entire clan
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>In Depth Profiles </b>
      – Review key stats and other game tracker information
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>New Ratings System </b>
      – Measuring personality, skill, respect, and reliability
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Link Integration </b>
      – Add links to key sites, sponsors, and other applications
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Player Preferences </b>
      – Block LFG players not meeting your requirements
    </p>
  </li>
  <li>
    <p  style="text-align: justify">
      <b>Advanced Filters </b>
      – Find players and clans by location, age, play style, availability, activity, ratings, experience, reliability, game, and game system.
    </p>
  </li>
</ul>

    <p style="text-align: justify">
      Our goal is to help you connect all your clans, players, games, and applications in one spot for an endless number of online game titles.  We believe games are more fun when they are played with friends and in tight-nit communities that can grow over a long period of time.   These tools will help you find those players and build those groups.
    </p>

    <p style="text-align: left">
      Thank you for being an early participant in our journey.<br>
      <br>
      <br>
      Tony<br>
      Founder, <a href="gameroster.com">GameRoster.com</a><br>
      Clans | Players | Games<br>
      Limitless Communities<br>
      @GameRoster<br>
    </p>

<p style="text-align: left">
<a href="http://www.gameroster.com/unsubscribe/email/<%=@user.id%>">Click here to unsubscribe</a>
</p>

