<div style="color: black; text-align: center">
  <%= image_tag(attachments['logo.png'].url, style: 'width: 80%' ) %>
</div>

<p style="text-align: justify">
  Today we are launching a new feature that will let you post events for your community through Twitch. To get started you will need to follow these two simple steps:
</p>
<p style="text-align: justify">
  <b>1) </b> Copy your Twitch LFG URL from your Edit Clan page.  You will find a button with the link in the Clan Access and Preferences section.
</p>
<p style="text-align: justify">
  <b>2) </b> Add this URL to your Twitch commands (e.g. !LFG) and/or display it using your Twitch channel's chat bot.
</p>
<p style="text-align: justify">
  Users clicking on the link will be directed to a page where they can join your Game Roster clan, fill out clan applications, and post clan events.  These posts will show on your clan profile page, the game roster mobile app (coming soon), and your Discord server (if you added the Game Roster bot).
</p>
<p style="text-align: justify">
  <b>Other Updates</b> <br>
We added two new settings in the Discord bot to let you disable daily clan updates and to disable event updates when no events are pending.  You can access these by selecting the Configure Discord Bot button on the Edit Clan page.

</p>


<p style="text-align: left">
  <br>
  <a href="gameroster.com" style="text-decoration: none;color: black;">
    <b>Game Roster Support</b>
  </a>
  <br>
  Clan Hosting and Tools<br>
  Twitter - @GameRoster<br>
</p>

<p style="text-align: left">
This email was sent as part of your Game Roster membership.  Click here to unsubscribe from emails and modify your notification preferences:  <a href="https://gameroster.com/profile/edit?step=2">gameroster.com</a>
</p>
