<div class="background-block content-area">
	<div class="container">
		<h2 style="margin-top:0px">New Message</h2>
		<div class="row">
			<%= render 'sidebar' %>
			<div class="col-md-9">
				<div class="messages-container">
					<ul class="messages-list list-unstyled">
						<%=  render 'message_form' %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>