<section class="content-block hero-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<%= image_tag("game-mercenaries.png") %>
			</div>
		</div>
	</div>
</section>
<br>
<section>
	<div class="container">
		<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="devise-block">
          <p class="lead">
            Welcome to the Game Mercenaries quality assurance program. We need your help to become the best platform for finding the perfect online gamer.
            You will be one of the first people to try this revolutionary new way for gamers to meet.
          </p>
          <p>
            This site is still under development so you will notice issues that we are working to improve. Help us identify errors and offer up some
            suggestions. Please share your feedback as you get it on the <%= link_to 'Contact Us', contact_requests_path %> page. Also, note the following:
            <ul>
              <li>Your extended free trial will not start until the site goes live</li>
              <li>Data you enter will be retained and paid transactions will use real money</li>
              <li>
                Be mindful of canceling events, as there is a penalty to your profile for doing so that may limit your ability to find other players. We encourage
                you to read the <%= link_to 'How To', how_to_path %> and <%= link_to 'FAQ', faq_path %> before playing around too much.
              </li>
            </ul>
          </p>
          <h2 class="text-center">Enjoy!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
