<div  class="modal fade" id="event_share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" type="button" data-target="#game_roster_actions" aria-label="Close"><span aria-hidden="true" class="action_popup" id="">&times;</span></button>
	        <h4 class="modal-title">
	          Share Event Details
	        </h4>
	      </div>
      <div class="modal-body">
	        <div class="">
	          <%= render partial: 'game_rosters/social_share' %>
	        </div>
      </div>
    </div>
  </div>
</div>
