<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/adminnav" %>
			</div>
			<div class="col-md-9">
				<h1 class="mt0">Welcome Admin</h1>
				<div class="row">

					<div class="col-md-4">
						<div class="container-box widget widget-default widget-item-icon">
						    <div class="widget-data">
						        <div class="widget-int num-count"><%= @users %></div>
						        <div class="widget-title">Users</div>
						        <div class="widget-subtitle">Created In the last 30 days</div>
						    </div>                          
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>


