<li class="wow fadeIn set_tabs_padding clan_li_set_color_size " data-wow-delay="0.2s"> 
	<%= link_to "#", class: "set_clan_btn_style", id: "application_pending_tab", data: { toggle: "modal", target: '#apply_to_clan_modal'}  do %>
	    <i class="fa fa-plus-circle set_icon_size" aria-hidden="true"></i>
	    <span class="btn-span">Apply</span>
	<% end %>
</li>