<div class="modal fade" id="clan_banned_users_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Banned Users
        </h4>
      </div>
      <div class="blocked_clan_members_table set_table_width">
        <%= render 'blocked_clan_members'%>
      </div>
    </div>
  </div>
</div>
