<div class="modal fade" id="restricted_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-medium">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">An Access Code Is Required To Join This Clan</h4>
      </div>
      <%= form_tag restricted_join_clan_clan_members_path(@clan), remote: true, id: 'restricted_popup_form' do |f| %>
        <div class="modal-body contract-details">
        	<div class="form-group">
            <%= label_tag :access_code, 'Access Code' %>
            <%= text_field_tag "access_code", "", :class => 'form-control','data-validation'=> '[NOTEMPTY]', 'data-validation-message' => 'Enter the access code.'  %>
          </div>
        	<div class="row">
      			<div class="col-sm-3 col-xs-12 ">
      				<%= submit_tag 'Submit', class: 'btn btn-primary btn-full' %>
        		</div>
        		<div class="col-sm-3 col-xs-12">
        			<button type="button" class="btn btn-primary btn-full" data-dismiss="modal" aria-label="Close">Cancel</button>
        		</div>
        	</div>
          <span class="text-primary join_string_validate"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>


