<li class="wow fadeIn set_tabs_padding clan_li_set_color_size" data-wow-delay="0.2s"> 
  <%= link_to "#", class: "set_clan_btn_style", data: { toggle: "modal", target: '#closed_clan'}  do %>
      <i class="fa fa-times-circle-o set_icon_size" aria-hidden="true"></i>
      <span class="btn-span">Closed</span>
  <% end %>
</li>