<div class="modal fade" id="application_pending_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-medium">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Application Pending</h4>
			</div>
			<div class="modal-body contract-details">
				You Application Has Been Sent And Is Pending
			</div>
		</div>
	</div>
</div>
