<div class="modal fade" id="clan_reactivation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog set_popup_mrg" role="document">
    <div class="modal-content modal-medium">
      <div class="modal-header">
        <button type="button" class="close clan_delete_close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title clan-reactivation-title">

        </h4>
      </div>
      <div class="modal-body contract-details">
        <p class="text-justify clan-reactivation-message"></p>
      </div>
    </div>
  </div>
</div>
