<div class="modal fade" id="chat_restrict_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Chat Access Denied</h4>
			</div>
			<div class="modal-body contract-details">
				<div class="video_icon"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
   			 <h3 align="center">Your Rank Is Not Permitted To Post In Chat</h3>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="event_restrict_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Event Access Denied</h4>
			</div>
			<div class="modal-body contract-details">
				<div class="video_icon"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
   			 <h3 align="center">Your Rank Is Not Permitted To Post An Event In This Clan</h3>
			</div>
		</div>
	</div>
</div>

