<div class="modal fade" id="transfer_fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-vertical">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Transfer Failed
        </h4>
      </div>
      <div class="modal-body contract-details">
        <p class="text-justify">
          You Can Only Transfer Ownership To A User That Is On Your Favorites List. Your Recipient Cannot Be Listed As A Founder Of Another Clan To Receive This Transfer.
        </p>
      </div>
    </div>
  </div>
</div>
