$('.modal-body').html('');
$('.modal-body').html("<p class='text-justify'> Your old Discord configuration has been removed. If you wish to connect to a new server you will need to select the “Configure Discord Bot” button and enter the credentials for your new server. If you do not see your new server listed in the set up then you may be logged into the wrong Discord account and should log out of Discord from Discord’s site before reconfiguring your new bot. Please visit our FAQ for more details.</p>");
$('.discord-channels-close').on('click', function(){
  location.reload();
})
