<div class="background-block content-area">
  <div class="container">
    <h1 class="mt0">FAQ</h1>
     <%= render :partial => 'admin/faq_headers/faq_header', collection: active_faq_headers, as: :faq_header %>
  </div>
</div>
