body.mobile-app {
  //-------------------
  // General
  //-------------------
  .navbar {
    display: none;
  }
  .background-block {
    background-image: initial;
  }
  footer {
    display: none;
  }
  .expand-sidenav {
    display: none;
  }

  //-------------------
  // Profile Views
  //-------------------
  .account-nav {
    display: none;
  }

  .blocks-and-feedback {
    h3 {
      display: none;
    }
    // .ratings {
    //   display: none;
    // }
  }

  .favorites {
    .message-button {
      display: none;
    }
  }

  //-------------------
  // Event/Contract Views
  //-------------------
  .my-events {
    .heading {
      display: none;
    }

    .invites {
      display: none;
    }
  }
}


// Custom Margin/Padding Classes for mobile


.col-third-rel {
	float: left;
	width:100%;
	@media screen and (min-width: $screen-sm-min) {
		max-width: 32%;
		margin-bottom: 2%;
		&:not(:nth-child(3n)) {
			margin-right: 2%;
		}
	}
	@media screen and (min-width: 641px) and (max-width: $screen-xs-max) {
		max-width: 33%;
		margin-bottom: 2%;
		&:not(:nth-child(even)) {

		}
	}
	@media screen and (max-width: 640px) {
		max-width: 33%;
		margin-bottom: 2%;

	}
}

@media screen and (max-width: $screen-xs) {
.m-x-0-xs {
}

.p-x-0-xs {
  padding-left: 0;
  padding-right: 0;

   .row {
    .col-fifth {
    max-width: 100% !important;
    }
   }
  }
}


// Custom Elements  for mobile

.mss-details-mobile {
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding: 10px 8px 6px;
  @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 20%, rgba(0, 0, 0, 0.75) 48%, rgba(0,0,0,0.9) 85%, rgba(0,0,0,0.9) 100%));
}

 .fixed  {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: inherit;
  font-weight: normal;
  line-height: 1;
  color: inherit;
}

.center {
 text-align: center;
}
