<%= form_for clan_message, remote:true   do |f| %>

<%= f.text_area :message,  class:'form-control', rows: 3 %><br>

  <div class='text-right'>
      <%=f.submit 'Submit', class: 'btn btn-primary'%>
  </div>
<% end %>