<p class="text-justify">
1. READ THIS: This Terms of Use Agreement (Agreement) is made by and between CLOUDMASH LIMITED LIABILITY COMPANY (hereinafter “COMPANY”), a New Jersey limited liability company, with offices at 100 Enterprise Drive, Suite 301, Rockaway, NJ 07866, and you the user (you, your, or User). This Agreement contains the complete terms and conditions that govern the use of the COMPANY Game Roster website(s) (“website”, “websites”, or “site”) and mobile app(s) (“mobile app” or “mobile apps”).
</p>

<p class="text-justify">
2. ACCESS TO THIS SITE. To access this site, site resources, links or other content, you may be asked to provide certain registration details or other information. It is a condition of your use of this site that all the information you provide will be correct, current, and complete. If COMPANY believes the information you provide is not correct, current, or complete, COMPANY has the right to deny access to this site, or to any of its resources, and to terminate or suspend your access at any time.
</p>

<p class="text-justify">
3. APPLICABLE USE OF SITE. You may use this site for the purposes expressly permitted.  Your right to access features of this site is subject to approval by the COMPANY, where such approval may be withheld or terminated at the discretion of the COMPANY. As a condition of your use of COMPANY’s websites, you warrant to COMPANY that you will not use the websites for any purpose that is unlawful or prohibited by these terms, conditions, and notices. This website is exclusively intended for use by individuals that are at least 13 years of age in the United States of America. The COMPANY will not permit users under the age of 13 to knowingly access services provided on this site. Minors between the ages of 13 and 17 are prohibited from sending or receiving payments from users. COMPANY will not knowingly collect any personally identifiable information from children under the age of 13. 
</p>

<p class="text-justify">
This site is a social network and online venue where users communicate, coordinate, and transact with other users for mutual online game play. You represent and warrant that you will only use IGNs (as hereinafter defined) or other personally identifiable information obtained from another User for purposes related to the furtherance of mutual game play and expressly agree not to use or disclose such information for purposes of harassment or dissemination for purposes unrelated to the furtherance of mutual game play. You acknowledge and agree that you may be liable to another User for damages resulting from your use or disclosure of such User’s IGN or personal information.
</p>

<p class="text-justify">
Your use of COMPANY websites requires you to comply with COMPANY’s Communication Services Policy.  You are responsible for ensuring that your Communication Services do not violate any Terms of Use and/or any End User Licensing Agreements set by game publishers and/or other third parties that are not affiliated with COMPANY websites (collectively, “Third Party Terms of Use”). COMPANY makes no representations or warranties that all Communication Services on COMPANY websites will comply with all Third Party Terms of Use.  You agree COMPANY is not responsible for damages resulting from your violation of Third Party Terms of Use and agree to indemnify COMPANY for damages caused by your Communication Services.
</p>

<p class="text-justify">
4. NO CO-BRANDING OR FRAMING. You may not use or authorize any party to co-brand, or frame any COMPANY website without the express prior written permission of an authorized representative of COMPANY. For purposes of these Terms of Use, “co-branding” means to display a name, logo, trademark, or other means of attribution or identification of any party in such a manner as is reasonably likely to give a user the impression that such other party has the right to display, publish, or distribute this site or content accessible within this site. For purposes of these Terms of Use, “framing” refers to displaying any COMPANY webpage within a bordered area of another website, regardless of whether the address of the originating COMPANY website is visible. Furthermore, you agree to cease any unauthorized co-branding or framing immediately, upon notice from COMPANY.
</p>

<p class="text-justify">
5. NO UNLAWFUL ACCESS. In addition, you agree that you will not use COMPANY’s websites in any manner that could in any way disable, overburden, damage, or impair the websites or otherwise interfere with any other party’s use and enjoyment of the websites. You further agree that you will not obtain, or attempt to obtain, any materials, content, or information by any means not expressly made available or provided for through authorized use of the websites. You agree not to hack, abuse, adversely interfere with, infect with viruses, worms or other malicious or destructive code, or use or cause to be used in extraordinary and unreasonable or inappropriate ways or amounts, including any servers, bandwidth supply, equipment, software and other technological resources.
</p>

<p class="text-justify">
6. PERSONAL AND NON-COMMERCIAL USE LIMITATION. COMPANY’s websites are for your personal and non-commercial use, unless otherwise specified.  By using this site you acknowledge and agree that your transactions with other users on the site are considered for personal use and are non-commercial activities.  However, this agreement does not prohibit commercial activity outside COMPANY sites.
</p>

<p class="text-justify">
Commercial promotion of eSports teams, streamers, content creators, media outlets, video game retail operations, video game tournaments, online video game coaching services, online video game help, video game titles, video game publishers, video game developers, gaming content creators, and graphic artists is permitted if you are a Pro or Elite subscribers and is only permitted on a clan page that you create and/or within the Paid 2 Play classified listing you receive as part of your subscription. 
</p>

<p class="text-justify">
Your commercial promotion must comply with COMPANY’s Communication Services Policy and COMPANY reserves the right to remove your commercial promotion without notice for any reason whatsoever. You may not use COMPANY sites or mobile apps for any other purpose without the prior express written permission of an authorized representative of COMPANY. You may not modify, copy, distribute, display, send, perform, reproduce, publish, license, create derivative works from, transfer, sell or otherwise infringe on any intellectual property rights related to any information, content, software, products or services obtained from or otherwise connected to COMPANY’s websites or mobile apps.
</p>

<p class="text-justify">
7. PROPRIETARY INFORMATION. All content found on the COMPANY websites (the “Content”) is considered the copyrighted and trademarked intellectual property of COMPANY, or of the party that created and/or licensed the Content to COMPANY. No rights or title to any of the works contained on any COMPANY website shall be considered transferred or assigned to the User. You agree that you will not copy, distribute, republish, modify, create derivative works from, or otherwise use the Content in any way, without the prior written consent of COMPANY. You will not make unauthorized modifications, reverse engineer, disassemble, decompile or attempt to derive source code of any Offerings. 
</p>

<p class="text-justify">
8. SUBMISSIONS. You hereby grant to COMPANY a royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display all content, remarks, suggestions, ideas, graphics, or other information communicated by you to COMPANY through this site (hereinafter, the “Submission”), and to incorporate any Submission in other works in any form, media, or technology now known or later developed. You agree that COMPANY will not be bound to treat any Submission as confidential, and may use any Submission in its business (including without limitation, for products or advertising) without incurring any liability for royalties or any other consideration of any kind, and will not incur any liability as a result of any similarities that may appear in future COMPANY operations or business.
</p>

<p class="text-justify">
9. HYPERLINKING. This site includes hyperlinks to other websites that are not maintained by, or related to, COMPANY.  Hyperlinks to such sites are provided as a service to users and are not sponsored by, endorsed or otherwise affiliated with this site or COMPANY. COMPANY has not reviewed any or all of such sites and is not responsible for the content of any linking sites, and any links made directly from a COMPANY website to another web page should be accessed at the User’s own risk. COMPANY makes no representations or warranties about the content, completeness, quality or accuracy of any such website.  Hyperlinks must comply with our Communication Services Policy.  
</p>

<p class="text-justify">
10. USE OF COMMUNICATION SERVICES. COMPANY’s websites may contain clan profiles, user profiles, public game events, private game events, clan events, game rosters, classifieds, tournament promotion, forums, notices, alerts, invitations, chat areas, message boards, news feeds, news groups, communities, custom links, popular links, video links, live streams, calendars, and/or other communication facilities designed to allow you to communicate and/or interact with groups, other users, and the Internet community  (collectively, “Communications Services”). 
</p>

<p class="text-justify">
You agree to use the Communication Services only to post, send, and receive messages and content that is considered proper and related to the particular Communication Service. Among other actions, when using a Communication Service, you agree that you will not post, send, submit, publish, or transmit in connection with this site, or cause to be posted, sent, submitted, published or transmitted, any material that:
</p>

<p class="text-justify">
(i) You do not have the right to post, including any proprietary material of any third party protected by intellectual property laws (or by rights of privacy or publicity);  (ii) Advocates illegal activity, discusses intent to commit an illegal act, or violates any law; (iii) Is vulgar, obscene, pornographic, or indecent; (iv) Threatens or abuses others; (v) Is libelous or defamatory towards others; (vi) Is racist, abusive, harassing, threatening, or offensive; (vii) Seeks to exploit or harm children by exposing them to inappropriate content or asking for personally identifiable information; (viii) Harvests or otherwise collects information about others, including e-mail addresses, without their consent; (ix) Impersonates or misrepresents your connection to any other entity or person or otherwise manipulates or forges headers or identifiers to disguise the origin of content; (x) Falsifies or deletes any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is permissible uploaded (e.g., copyright, trademark or patent notices); (xi) Includes programs that contain viruses, worms and/or Trojan horses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications device; (xii) Disrupts the normal flow of dialogue, causes a screen to scroll faster than other users are able to type, or otherwise act in a way which affects the ability of other people to engage in real-time activities via this site; (xiii) Amounts to a pyramid or other like scheme, including contests, chain letters, and surveys; (xiv) Disobeys any policy or regulations including any code of conduct or other guidelines, established from time to time regarding use of this site or any networks connected to this site; (xv) Contains hyperlinks to other sites that contain content that falls within the scope of this Section; or (xvi) Transmits any other User’s personally identifiable information, including any unique game identifier, such as an in-game name (an “IGN”), to third parties; (xvii) Includes any type of advertising or promotion of products and/or services on pages other than the clan page you create and/or the Paid 2 Play classified listing you are entitled to as part of your subscription.
</p>

<p class="text-justify">
You acknowledge that any materials uploaded to the Communication Service may be subject to posted limits on use, reproduction, and/or dissemination and you are responsible for abiding by such limitations with respect to your submissions, including any downloaded materials. Notwithstanding these rights, you remain solely responsible for the content of your submissions.  You acknowledge and agree that neither COMPANY nor any third party that provides Content to COMPANY will assume or have any liability for any action made by COMPANY or such third party with respect to any submission. 
</p>

<p class="text-justify">
You acknowledge and agree that COMPANY may limit your access to Communication Services, may modify or remove any information in your Communication Services, and/or may permanently ban you from accessing COMPANY websites if, amongst other things, your Communication Services do not comply with the Communication Services Policy.  You will forfeit any remaining time under your current subscription if you are permanently banned.  All subscription payments are non-refundable.
 </p>

<p class="text-justify">
Furthermore, you agree that you will not:
</p>

<p class="text-justify">
(a) Circumvent or manipulate the fee structure, billing process or fees owed through this site; (b) Post false or misleading action; (c) Transfer your account (including feedback) or username to another party without our written consent; or (d) Collect information about other users, without their written consent.
</p>

<p class="text-justify">
11. RIGHT TO TERMINATE ACCESS. COMPANY reserves the right to monitor use of this site to determine compliance with these Terms of Use, as well as the right to edit, refuse to post, or remove any information or materials, in whole or in part, at its sole discretion. COMPANY reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever. Furthermore, your use of this site is conditioned upon your adherence to the Cancellation and Payment Policy, which is hereby incorporated herein by reference in its entirety.
</p>

<p class="text-justify">
12. DISCLOSURE UNDER LAW. COMPANY reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request.
</p>

<p class="text-justify">
13. PERSONALLY IDENTIFIABLE INFORMATION. COMPANY cautions you against giving out any personally identifying information about yourself or your children in any Communication Service. In an effort to preserve your privacy, COMPANY agrees that it will treat any personally identifying information that you submit through this site in accordance with the terms outlined in its Privacy Policy at www.gameroster.com. Users of this site are cautioned that their primary e-mail address and full name may become known to other parties if an intermediary payment service is utilized by the parties to facilitate a voluntary financial donation made by one user to another user. Users seeking to avoid disclosing this information are encouraged to use a special purpose e-mail address or make the appropriate arrangements with your payment service (such as PAYPAL) to avoid any unintended disclosure of personally identifiable information.  Other users will be able to view your IGN, along with such other information you may disclose.
</p>

<p class="text-justify">
14. DISCLAIMER & LIMITATIONS ON LIABILITY. You understand that COMPANY cannot and does not guarantee or warrant that files available for downloading from the COMPANY websites will be free of viruses, worms, Trojan horses or other code that may cause damage or harm to your computer(s) or network(s). You acknowledge that you will be solely responsible for implementing sufficient procedures and checkpoints to protect your computer(s) and network(s), and that you will maintain adequate means of backup of your personal data, external to this website. COMPANY further disclaims any responsibility to ensure that the Content located on its websites is necessarily complete and up-to-date.
</p>

<p class="text-justify">
YOUR USE OF THIS SITE IS AT YOUR OWN RISK. THE CONTENT IS PROVIDED AS IS AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED. COMPANY DISCLAIMS ALL WARRANTIES, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT. COMPANY DOES NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED ON ANY COMPANY WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. COMPANY DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE, OR THE RESULT OF USE, OF ANY CONTENT IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE. THE USER ACKNOWLEDGES THAT THE CONTENT MAY INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS, AND COMPANY MAY MAKE CHANGES OR IMPROVEMENTS AT ANY TIME. YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION IN THE EVENT OF ANY LOSS OR DAMAGE ARISING FROM THE USE OF THIS SITE OR ITS CONTENT. COMPANY MAKES NO WARRANTIES THAT YOUR USE OF THE CONTENT WILL NOT INFRINGE THE RIGHTS OF OTHERS AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ERRORS OR OMISSIONS IN SUCH CONTENT. COMPANY MAKES NO WARRANTY AS ANY USER’S PURPORTED IDENTITY, AS SUCH IDENTIFICATION IS BASED SOLELY ON THE INFORMATION SUCH USER PROVIDES TO US AND OUR PROVISION OF THE INFORMATION TO OTHER USERS DOES NOT CONSTITUTE AN INTRODUCTION, ENDORSEMENT OR RECOMMENDATION BY THE COMPANY TO ANY OTHER USER.
</p>

<p class="text-justify">
COMPANY MAKES NO WARRANTY AS TO WHETHER THE SERVICES PROVIDED ON THIS SITE CAN BE USED IN CONJUNCTION WITH ANY THIRD PARTY END USER LICENSE AGREEMENT FOR A GAME PLATFORM OR OTHERWISE.
</p>

<p class="text-justify">
COMPANY, ITS SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS WILL NOT BE LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES, INCLUDING LOSS OF REVENUE OR INCOME, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, EVEN IF COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>

<p class="text-justify">
IN NO EVENT WILL THE COLLECTIVE LIABILITY OF COMPANY AND ITS SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS, REGARDLESS OF THE FORM OF ACTION (WHETHER IN CONTRACT, TORT, OR OTHERWISE), EXCEED THE GREATER OF $100 ORTHE AMOUNT YOU HAVE PAID TO COMPANY FOR THE APPLICABLE CONTENT OR SERVICE OUT OF WHICH LIABILITY AROSE.
</p>

<p class="text-justify">
15. INDEMNITY. You agree to indemnify, defend and hold COMPANY, its subsidiaries, affiliates, licensors, content providers, other users, service providers, employees, agents, officers, directors, and contractors (the Indemnified Parties) harmless from any breach of these Terms of Use and/or Third Party Terms of Use (as previously defined) by you, including any use of Content other than as expressly authorized in these Terms of Use. You agree that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and you agree to indemnify the Indemnified Parties against any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys’ fees of the Indemnified Parties in connection therewith. You will also indemnify, defend and hold the Indemnified Parties harmless from and against any claims, demands, and damages of every kind and nature, whether known or unknown, that are brought by third parties (including other users) arising out of or related to: (1) your use of the information accessed from this site and your use of the services provided by this site and (2) any dispute you may have with any other users of this site or any third-party arising from your use of the services provided on this site.
</p>

<p class="text-justify">
16.TRADEMARKS AND COPYRIGHTS. Trademarks, service marks, logos, and copyrighted works (hereinafter, “intellectual property”) appearing in this site are the property of COMPANY or the party that provided the intellectual property to COMPANY. COMPANY and any party that provides intellectual property to COMPANY retain all rights with respect to any of their respective intellectual property appearing in this site. All contents of COMPANY’s websites are: Copyright © 2015 CloudMash Limited Liability Company. All rights reserved.
</p>

<p class="text-justify">
17. COPYRIGHT INFRINGEMENT.  GameRoster provides hosting services for non-commercial use profiles and gaming communities.  We require all users to respect intellectual property rights as part of our Communication Services Policy. GameRoster has a zero tolerance policy for intellectual property rights infringement.  GameRoster’s use of game images and marks are solely to clarify compatibility between users and gaming communities. 
</p>

<p class="text-justify">
Any video game product names, logos, brands, and other trademarks or images featured or referred to within this website are the property of their respective trademark holders. These trademark holders are not affiliated with CloudMash LLC, our services, or our websites. They do not sponsor or endorse CloudMash LLC or any of our online services.
</p>

<p class="text-justify">
It is our policy to respond promptly to any claim that content posted on the website infringes the intellectual property of any person or entity. Please contact COMPANY with the information specified below if you believe that your work has been copied in a way that constitutes copyright infringement.  Please note that this procedure is exclusively for notifying COMPANY and its affiliates that your copyrighted material has been infringed. Contact should include the following:
</p>

<p class="text-justify">
(i) An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; (ii) A description of the copyrighted work that you claim has been infringed upon; (iii) A description of where the material that you claim is infringing is located on the site, including the current website address; (iv) Your address, telephone number, and e-mail address; (v) A statement by you that you have a good-faith belief that the disputed use is unauthorized by the copyright owner, its agent, or the law; (vi) A statement by you made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
</p>

<p class="text-justify">
Notices should be sent to: CloudMash LLC, 100 Enterprise Drive, Suite 301, Rockaway NJ 07866 or to admin@gameroster.com
</p>

<p class="text-justify">
18. PAYMENT AND BILLING. Fees for membership on this site are collected through our payment partners. Fees are non-refundable and are owed to COMPANY regardless of whether you are satisfied with the services provided for on this site. You agree to adhere to the terms and conditions for payment provided by the third-party payment provider. You are responsible for paying any applicable taxes that may be incident to the transactions that occur on this site. Service fees, Cancellation Fees, Payment Policies and other conditions for use of the site are updated from time to time and found at www.gameroster.com, whereby such additional terms are incorporated herein by reference. 
</p>

<p class="text-justify">
Your subscription, which may start with a free trial, will continue annually and automatically renew unless and until you cancel your membership or we terminate it. You must have Internet access and provide us with a current, valid, accepted method of payment (as such may be updated from time to time, "Payment Method") to use services on COMPANY websites and mobile apps. We will bill the annual membership fee to your Payment Method. You must cancel your membership before it renews each year in order to avoid billing of the next year's subscription fees to your Payment Method.
</p>

<p class="text-justify">
Recurring Payments - By starting a paid subscription and providing or designating a Payment Method, you authorize us to charge you an annual membership fee at the then current rate, and any other charges you may incur in connection with your use of services on COMPANY websites and mobile apps, such as taxes or possible transaction fees, to your Payment Method. You acknowledge that the amount billed each month may vary from month to month for reasons that may include differing amounts due to promotional offers, including gift card redemption and promotional code redemption, and/or changing or adding a plan, and you authorize us to charge your Payment Method for such varying amounts, which may be billed in one or more charges.
</p>

<p class="text-justify">
Price Changes - We reserve the right to adjust pricing for our service or any components thereof in any manner and at any time as we may determine in our sole and absolute discretion. Except as otherwise expressly provided for in these Terms of Use, any price changes to your service will take effect following email notice to you.
</p>

<p class="text-justify">
Billing Cycle - The membership fee for our service will be billed at the beginning of the paying portion of your membership and each year thereafter unless and until you cancel your membership. We automatically bill your Payment Method each year on the calendar day corresponding to the commencement of your paying membership. Membership fees are fully earned upon payment. We reserve the right to change the timing of our billing, in particular, as indicated below, if your Payment Method has not successfully settled. In the event your paying membership began on a day not contained in a given year, we may bill your Payment Method on a subsequent day or such other day as we deem appropriate. Your renewal date may change due to changes in your Membership. 
</p>

<p class="text-justify">
Visit gameroster.com and click on the "My Account" link to see the commencement date for your next renewal period. We may authorize your Payment Method in anticipation of membership or service-related charges.  As used in these Terms of Use, "billing" shall indicate a charge, debit or other payment clearance, as applicable, against your Payment Method. Unless otherwise stated differently, annual or annually refers to your billing cycle.
</p>

<p class="text-justify">
No Refunds - PAYMENTS ARE NONREFUNDABLE AND THERE ARE NO REFUNDS OR CREDITS FOR PARTIALLY USED PERIODS. However, you will continue to have access to the service through the end of your current billing period following any cancellation or change in your subscription to a lower priced subscription option (hereinafter, “downgrade” or “downgraded plan”).  At any time, and for any reason, we may provide a refund, discount, or other consideration to some or all of our members ("credits"). The amount and form of such credits, and the decision to provide them, are at our sole and absolute discretion. The provision of credits in one instance does not entitle you to credits in the future for similar instances, nor does it obligate us to provide credits in the future, under any circumstance.
</p>

<p class="text-justify">
Payment Methods - You may edit your Payment Method information by visiting our website and clicking on the "My Account" link. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not edit your Payment Method information or cancel your account (see, "Cancellation" below), you remain responsible for any uncollected amounts and authorize us to continue billing the Payment Method, as it may be updated. This may result in a change to your payment billing dates. For certain Payment Methods, the issuer of your Payment Method may charge you a foreign transaction fee or other charges. Check with your Payment Method service provider for details.
</p>

<p class="text-justify">
Cancellation - You may cancel or downgrade your subscription at any time, and you will continue to have access to services on COMPANY websites and mobile apps through the end of your annual billing period. WE DO NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL-ANNUAL MEMBERSHIP PERIODS. You can cancel or change your subscription on the "My Account" page. If you cancel your subscription, your account will automatically revert to a Free account at the end of your current billing period. 
</p>

<p class="text-justify">
19. USER PARTICIPATION. Users of this site may agree to network with one another for a common purpose. Users are not required to pay other users for their services through this site. Users may elect to gift certain payments to other users, if desired. This site provides a payment platform to accommodate such donations, but COMPANY receives no commission or other financial benefit from any such donation you may elect to make to any other party. You acknowledge and agree that COMPANY is not affiliated with any payment account or responsible for payments made by you or received by you. You must ensure that you comply with any applicable domestic or international law, ordinance or regulation that may be relevant to the activities you engage in when using services derived from this site. The COMPANY has no responsibility for enforcing any rights you may have under any agreement you may reach with another User of this site. Nothing in this Agreement creates a partnership, joint venture, agency or employment relationship between the Users or between the Users and the COMPANY.
</p>

<p class="text-justify">
Furthermore, you hereby agree to release the Indemnified Parties from claims, demands and damages (both actual and consequential) of every kind and nature, whether known or unknown), arising out of or in any way connected to a dispute you may have with one or more users or third-party service providers providing services on this site, whether such disputes are related to your interaction with other users or otherwise.
</p>

<p class="text-justify">
You further hereby agree to release the Indemnified Parties from claims, demands and damages (both actual and consequential) of every kind and nature, whether known or unknown), arising out of or in any way related to your disclosure of personal information, including but not limited to your IGN on this site. By providing your IGN to another User, you assume the risk that another User may share your IGN or other personal information with other parties in other forums. You represent and warrant that your use of the services provided on this site will not constitute a violation of or default under, conflict with, or result in a breach of any agreement or instrument to which you are a party or to which you are bound, including but not limited to third-party end user license agreements and third party terms of use.
</p>

<p class="text-justify">
20. SECURITY. Any passwords used for this site are for individual use only. You will be responsible for the security of your password(s). From time to time, COMPANY may require that you change your password. You are prohibited from using any services or facilities provided in connection with this site to compromise security or tamper with system resources and/or accounts. The use or distribution of tools designed for compromising security (e.g., password crackers, rootkits, Trojan horses, or network probing tools) is strictly prohibited. If you become involved in any violation of system security, COMPANY reserves the right to release your account details to system administrators at other websites and/or the authorities in order to assist them in resolving security incidents. COMPANY reserves the right to investigate suspected violations of these Terms of Use. COMPANY reserves the right to fully cooperate with any law enforcement authorities or court order requesting or direction COMPANY to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms of Use.
</p>

<p class="text-justify">
BY ACCEPTING THIS AGREEMENT YOU WAIVE ALL RIGHTS AND AGREE TO HOLD COMPANY HARMLESS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY COMPANY DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONSTAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER COMPANY OR LAWENFORCEMENT AUTHORITIES.
</p>

<p class="text-justify">
21. ARBITRATION. You and COMPANY agree that any dispute, claim or controversy arising out of or relating in any way to the Services, including our site, user interfaces, these Terms of Use, including this Arbitration paragraph, shall be determined by binding arbitration in Sussex County, New Jersey, instead of in courts of general jurisdiction. You agree that, by agreeing to these Terms of Use, the U.S. Federal Arbitration Act governs the interpretation and enforcement of this provision, and that you and COMPANY are each waiving the right to a trial by jury or to participate in a class action. This arbitration provision shall survive termination of this Agreement. YOU AND COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and COMPANY agree otherwise, the arbitrator may not consolidate more than one person’s claims with your claims, and may not otherwise preside over any form of a representative or class proceeding. If this specific provision is found to be unenforceable, then the entirety of this arbitration provision shall be null and void. The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party’s individual claim.
</p>


<p class="text-justify">
22. MISCELLANEOUS. These Terms of Use will be governed and interpreted pursuant to the laws of New Jersey, notwithstanding any principles of conflicts of law. You specifically consent to personal jurisdiction in New Jersey in connection with any dispute between you and COMPANY arising out of these Terms of Use or pertaining to the subject matter hereof. The parties to these Terms of Use each agree that the exclusive venue for any dispute between the parties arising out of these Terms of Use will be in the state and federal courts in the State of New Jersey.
</p>

<p class="text-justify">
You agree that no joint venture, partnership, employment, or agency relationship exists between you and COMPANY as a result of this agreement or use of COMPANY’s websites. These Terms of Use constitute the entire agreement among the parties relating to this subject matter and supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written between the user and COMPANY with respect to COMPANY’s websites. Notwithstanding the foregoing, any additional terms and conditions on this site will govern the items to which they pertain. COMPANY may revise these Terms of Use at any time by updating this posting. 
</p>

<p class="text-justify">
23.  SURVIVAL. If any part of these Terms of Use is unlawful, void or unenforceable, that part will be deemed severable and will not affect the validity and enforceability of any remaining provisions.
</p>
