<div class="background-block content-area public_game_page">
  <div class="container">
    <div class="">
      <div class="row">
        <h2 class="text-center">Coming Soon</h2>
      </div>
      <div class="row text-center">
        <%= image_tag "game_roster_1.png", :class=> 'avatar-md1 wow flip'%>
      </div>
    </div>
  </div>
</div>
