<section class="content-block">
  <div class="container">
    <h1>Policies</h1>
    <p class="text-justify">
      We are only a listing service and cannot control the actions of our users.  However, we require users to follow our policies to use our service.  The following highlights some of the more important policies.  A full list can be found in our Terms of Use.  
    </p>
    <h3 class="mt0 text-primary">Behavior and Language</h3>
    <p class="text-justify">
        It is a good idea to treat others the way you want to be treated.  Users must not sexually harass, threaten, berate, discriminate, or express hateful speech.  Although we all get frustrated or excited at times, users should minimize profanity during gameplay and avoid it entirely on the site.  Be aware that every user has a different threshold for what is appropriate and will judge you through this viewpoint with ratings feedback.  Low scores will ostracize you and hinder your ability to use the site.  
    </p>
    <h3 class="mt0 text-primary">Images</h3>
    <p class="text-justify">
      We want you to express yourself but you are required to only upload or link game related videos that display your skill or personality.  Avatars, images, and videos must not be offensive, subject to copyright or trademark violations, include any advertising, or depict illicit behavior, profanity, nudity, or discrimination.  We reserve the right to determine what qualifies so it is best to steer clear as violators may be banned without a refund.
    </p>

    <h3 class="mt0 text-primary">Donations</h3>
    <p class="text-justify">Users are responsible for maintaining their PayPal account and paying any fees associated with that account, which includes the standard transaction fee for funds received, chargebacks, and any refund fees.</p>

    <p class="text-justify">Players are not obligated to donate but as a general guideline we believe players should be rewarded for overall good game play and behavior after an event. Donations are tracked and shared via a Generosity rating, which players can use to identify the site’s biggest supporters. Being generous will ultimately help you get more assistance in the future.</p>

    <h3 class="mt0 text-primary">Event Management and Cancelations</h3>
    <p class="text-justify">Game Roster keeps track of cancelations to help users find reliable groups and players.  Unreliable players and public game hosts are automatically blocked according to the preferences in your user profile.  Keep in mind it helps you and the community to report players that quit during gameplay or do not show up.  This can be done on the My Events page. </p>
    <p>
      There are three types of events. Cancelation policies vary based on event type:
    </p>
    <ul>
      <li>
        <h4>Private Game Events</h4>
        Private events are designed for a group of friends and as such the participants are not subject to cancelation rates under any circumstances.  Hosts can reassign players, remove players, edit events, or cancel an event at any time while players can leave events at any time without worrying about their cancelation rate.  However, changing the start time will reset the roster and resend invites. 
      </li>
      <li>
        <h4>Public Game Events</h4>
        Cancelation penalties are only assigned in public events if a roster is full.  Canceling or leaving a public event with a full roster increases the host or player cancelation rate.  Hosts can edit a public event before another player joins and can cancel the event at anytime without a penalty if the roster is not full. Players are not penalized if a host removes them from the roster.  
      </li>
      <li>
        <h4>Availability Posts</h4>
        Users should try to privately reschedule their events before resorting to cancelation.  Either party can cancel an event but the party initiating the cancelation will be penalized through an increase in their cancelation rate, which may limit their ability to find other players or receive donations if this rate rises above other users’ preference thresholds.
      </li>
    </ul>
  </div>
</section>