<div class="background-block content-area">
  <div class="container">
  <h1 class="mt0">Privacy Policy</h2>
  <h3>1. Types of Information We Collect</h3>
  <p class="text-justify">In order to provide service, we collect two types of information about our users: Personally Identifiable Information (“PII”) and Aggregate Information.
  </p>

  <p class="text-justify">Personally Identifiable Information: This refers to information that lets us know the specifics of who you are. When you engage in certain activities on this site or app, such as registering for an account, posting content, creating events, messaging, or sending us feedback. We may also ask you to provide certain information about yourself at times.
  </p>

  <p class="text-justify">Examples of PII may include your email address, In Game Name (IGN), and other identifying information. Although we do not store or directly process your payment information, we may do so in the future and may collect your payment card information for donations, subscriptions, and other payments.
  </p>

  <p class="text-justify">Aggregate Information: This refers to information that does not by itself identify a specific individual. We gather certain information about user activity on our site and apps along with information about what other sites may have directed you to us. This information, which is collected in a variety of different ways, is compiled and analyzed on both a personal and an aggregated basis. This information may include the website Uniform Resource Locator (“URL”) data, what browser you are using, and your Internet Protocol (“IP”) address.
  </p>

  <h3>2. How We Collect and Use Information</h3>
  <p class="text-justify">We minimize the collection of PII. However, you may be required to provide certain PII to us when you elect to use certain products or services available on the Site or app. These may include: (a) registering for an account on our Site; (b) entering into a dialogue with another user; (c) utilizing third party payment services; (d) sending us an email message; (e) submitting a form or transmitting other information by telephone or letter; or (e) submitting your payment information for donations, orders, or other purchases on our Site or app through a third party or otherwise. When processing certain information, such as payment information with affiliated banking institutions or payment processors, we encrypt the transaction, using Secure Socket Layer (SSL) encryption technology, in order to prevent your PII from being stolen or intercepted.
  </p>

  <p class="text-justify">We will primarily use your PII to provide product or service offerings to you. We will also use certain forms of PII to enhance the operation of our Site, statistically analyze Site use, improve our offerings, improve our internal marketing and promotional efforts, and customize our Site’s content, layout, and services. We may use PII to deliver information to you and to contact you regarding administrative notices. Finally, we may use your PII to resolve disputes, troubleshoot problems and enforce our agreements with you, including our Site Terms of Use, and this Privacy Policy.
  </p>

  <p class="text-justify">We may also collect certain Aggregate Information. For example, we may use your IP address to diagnose problems with our servers, software, to administer our Site and to gather demographic information. Third parties may use cookies, web beacons, and similar technologies to collect or receive information from our Site to help us measure site activity and target our ads. Users can opt-out of the collection and use of information for ad targeting at www.aboutads.info/choices.
  </p>

  <h3>3. Cookies</h3>
  <p class="text-justify">Depending on how you use our Site, we may store cookies on your computer in order to collect certain aggregate data about our users and to customize certain aspects of your specific user experience. A cookie is a small data text file, which is stored on your computer that uniquely identifies your browser. Cookies may also include more personalized information, such as your IP address, browser type, the server your computer is logged onto, the area code and zip code associated with your server, and a name to welcome you back to our Site. We may use cookies to perform tasks such as: monitoring aggregate site usage metrics, storing login credentials (if you allow us to do so), storing account preferences that you have set, and personalizing the Services we make available to you. 
  </p>

  <p class="text-justify">Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some aspects of the Site may not function properly if you elect to disable cookies.
  </p>

  <h3>4. Release of Information</h3>
  <p class="text-justify">We will not sell, trade, or rent your PII to others. We do provide some of our product and service offerings through contractual arrangements made with affiliates, service providers, partners, and other third parties (“Service Partners”). CloudMash LLC and our Service Partners may need to use some PII in order to perform tasks between our respective sites, or to deliver products or services to you. For example, we must release your payment card information to payment processors and the card-issuing bank to confirm payment for products and services purchased on this Site; release your address information to the delivery service to deliver products that you win or order; and provide order information to third parties that help us provide customer service.
  </p>
  
  <p class="text-justify">We will encourage our Service Partners to adopt and promote strong privacy policies. However, the use of your PII by our Service Partners is governed the respective privacy policies of those providers, and is not subject to our control. Except as otherwise discussed in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. Other Sites accessible through this Site, including our Advertising and Service Partners, have their own privacy policies and data collection, use and disclosure practices. Please consult each Site’s privacy policy. We are not responsible for the policies or practices of third parties.
  </p>
  
  <p class="text-justify">Occasionally we may be required by law enforcement or judicial authorities to provide PII to the appropriate governmental authorities. In such cases, we will disclose PII upon receipt of a court order, subpoena, or to cooperate with a law enforcement investigation. We fully cooperate with law enforcement agencies in identifying those who use our services for illegal activities. We reserve the right to report to law enforcement agencies any activities that we in good faith believe to be unlawful.
  </p>
  
  <p class="text-justify">We may share Aggregate information about user traffic patterns and related site information with third parties to improve the performance of our site, but these statistics do not include any Personally Identifiable Information.
  </p>

  <h3>5. Updating and Correcting Information</h3>
  <p class="text-justify">We believe you should have the ability to access and edit the PII that you have provided to us, which you can access through your profile. You may also access and correct your personal information and privacy preferences by emailing us at admin@gameroster.com.  Please include your name, address, and/or email address when you contact us.</p> 

  <p class="text-justify">We encourage you to promptly update your PII if it changes. You may ask to have the information on your account deleted or removed, which will remove all identifiable information; however, some information, such as past transactions, posted events, messages, logs of technical support calls, or other information may not be deleted. In addition, it may be impossible to completely delete your information without some residual information because of backups.</p> 

  <h3>6. User Choices on Collection and Use of Information</h3>
  <p class="text-justify">We may, from time to time, send you email regarding new products and services that we feel may interest you. We may also send alerts and notifications as part of our service. You can modify all your notification preference on the Site. You also have choices with respect to cookies, as described above. By modifying your browser preferences, you have the choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. If you choose to reject all cookies some parts of our Site may not work properly in your case.</p> 

  <h3>7. Security of Your PII</h3>
  <p class="text-justify">We strive to take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure, or destruction of your PII. For example:</p>

  <ul>
    <li>We minimize the collection of PII and we encrypt all PII, in order to prevent unauthorized parties from viewing such information when it is transmitted to us. We also only keep collected information for as long as reasonably necessary and use it only for the purposes for which it was collected or to comply with any applicable legal or ethical reporting or document retention requirements.</li>

    <li> We limit access to PII only to specific employees, contractors and agents who have a reasonable need to come into contact with your information. For example, we may provide members of our technical support team with limited access to your account in order to allow them to troubleshoot problems you may be having with the Site.</li>

  </ul>

  <p class="text-justify">Payment transactions and order fulfillment is handled by established third party banking institutions and processing agents (such as PayPal). They receive the information needed to verify and authorize your payment card or other payment information to process your order. Your e-mail address associated with your PayPal account may be disclosed to a party you contract with on this site. Your age may be disclosed to other users to improve our service. You can opt to not display your age within your profile.</p> 

  <p class="text-justify">Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your PII, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) the security, integrity and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.</p>

  <h3>8. Miscellaneous</h3>
  <p class="text-justify">You must be at least 13 years old to have our permission to use this Site. You should also be aware that when Personally Identifiable Information is voluntarily disclosed (i.e. your name, email address, etc.) in the discussion forums or other public areas on this Site, that information, along with any information disclosed in your communication, can be collected and used by third parties and may result in unsolicited messages (including unwanted spam messages) from third parties. Such activities are beyond our control and this Policy does not apply to such information. Please consult our Site Terms and Conditions of Use Agreement for our Site Conduct policies.</p> 

  <p class="text-justify">If you have any questions, concerns or inquiries about our Privacy Policy, or our use of your PII, or our privacy practices, please contact us at: admin@gameroster.com. You can also reach our Privacy Compliance Officer by sending written correspondence to:</p> 

  <p>CloudMash LLC<br/>
  100 Enterprise Drive<br/>
  Suite 301<br/>
  Rockaway NJ 07866
  </p>

  <p class="text-justify">This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, which are text files saved on your computer, to help the website analyze how you use the site. The information generated by the cookie about your use of the website will be transmitted to and stored by Google on servers in the United States. If this website anonymizes IP addresses, your IP address will be truncated by Google within a EU member state or other EEA state before being transmitted to the US. Only in exceptional situations will your full IP address be transmitted to Google servers in the United States and truncated there. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above. You can also prevent Google from collecting information (including your IP address) via cookies and processing this information by downloading this browser plugin and installing it: http://tools.google.com/dlpage/gaoptout
  </p> 
  
  <p class="text-justify">Further information concerning the terms and conditions of use and data privacy can be found at the Google Analytics Terms of Service or at the Google Analytics Privacy Overview. Please note that on this website, Google Analytics is supplemented by "gat._anonymizeIp();" to ensure anonymized collection of IP addresses (IP masking).
  </p> 
  
  </div>
</div>