<div class="background-block content-area">
	<div class="container">
		<h1 class="mt0">Recent Updates</h1>

		<section class="update">
			<h2 class="mb0 text-primary">Win $50 For Posting Public Games</h2>
			<span class="update-meta">Feb. 17th, 2016</span>
			<p class="lead">
				Today we are helping you take control and find other players with notification options and a new public game notices feature
				that will alert users when a public game is posted that matches your profile, PSA preferences, and notification settings.
				You can block individual players on their profile page or you can stop receiving all alerts on the new notification page (see below).
			</p>
			<p class="lead">
				<strong>Win $50 or a New Title</strong><br />
				To celebrate, we are launching a new get paid to post promotion. Each week between 2/15/16 and 3/15/16, we will randomly select
				one of our users posting public games and award them a free game or a $50 Amazon gift card/voucher.  The more you post the more
				you boost your odds of winning.
			</p>
 			<p class="lead">
				To qualify as a public game, users must not have cancelled the game event and must have at least one other person confirmed on their
				roster.  Rosters do not need to be full to qualify.  Please visit <a href="http://www.cloudmashllc.com">www.CloudMashLLC.com</a> for all the promotional details.
			</p>
		</section>
		<br />

		<section class="update">
			<h2 class="mb0 text-primary">Notifications</h2>
			<span class="update-meta">Feb. 2nd, 2016</span>

			<p class="lead">Today we are introducing notification options that will let you customize all your various notices and a new public game notices feature that will alert you when users post a public game that matches your profile, PSA preferences, and notification settings. </p>

			<p class="lead">Users can block individual players to stop receiving alerts from a specific player on a player's profile page or can stop receiving all alerts on the new notification options page. </p>

		</section>
		<br>

		<section class="update">
			<h2 class="mb0 text-primary">Roster Updates</h2>
			<span class="update-meta">Jan. 20th, 2016</span>
			<p class="lead text-justify">Our goal is to simplify your gaming life and help you connect with great players.  Today we are happy to introduce Game Roster, which will formally replace Paid 2 Play as the name of our site and provide new features that will help you organize all your clan events, raids, and competitions.</p>

			<p class="lead text-justify">You can now set up private game events and instantly know who is on each game's interactive roster.  In addition, you will now be able to share public events and your availability on social media and will find more tools that improve group communication and your ability to find ideal players and games.  A full recap of the changes is as follows:</p>

			<p class="lead"><strong>Create Private Event Rosters</strong> &ndash; create game event rosters that are only visible to invited players. </p>

			<p class="lead"><strong>Game Event Invites</strong> &ndash; send invites to all your friends even if they are not yet using the site.  </p>

			<p class="lead"><strong>Create Public Games</strong> &ndash; start a public game and ask others to join that meet your PSA and cancelation rate preferences.</p>

			<p class="lead"><strong>Social Media</strong> &ndash; post game events or your availability to join players on Facebook and Twitter. </p>

			<p class="lead"><strong>Join Public Games</strong> &ndash; lists public games with new stats like play type (serious/casual), roster size, and host age. </p>

			<p class="lead"><strong>My Events</strong> &ndash; see all your game invites and interactive rosters for your confirmed private and public game events. </p>

			<p class="lead"><strong>Favorites</strong> &ndash; add players and quickly access favorites for invites and messages.  </p>

			<p class="lead"><strong>Age Options</strong> &ndash; share your age to help find ideal players and titles. Set your preference on the <%= link_to "Edit Profile", edit_profile_path %> page.  </p>

			<p class="lead"><strong>Group Messaging</strong> &ndash; send messages to the entire team.  Your email information stays private.  </p>

		</section>
		<br>

		<section class="update">
			<h2 class="mb0 text-primary">Major Updates</h2>
			<span class="update-meta">Nov. 9th, 2015</span>
			<p class="lead">We have a number of major updates to the site to share today. </p>

			<h3>Goodbye Confusing Jargon</h3>
			<p class="lead text-justify">We are transitioning away from some confusing jargon and renaming Contracts and Bounties as Players Available and Join Game, respectively, while referring to all activities as Events.  You can post either type of event with the Post button. All our games are now supported whether you are looking for a player or offering your availability. </p>

			<h3>Donations</h3>
			<p class="lead text-justify">We are transitioning to a donation-based system that will encourage and track user generosity.  With this transition we will allow users of ALL ages to accept donations that reward good game play and behavior.  Users can collect donations on their profile page and list suggested donations on events.  Users can also list their willingness to offer a donation when they are looking for a player. </p>

			<p class="lead text-justify">Users are not obligated to donate but being more generous will help attract other players and may influence an Approval rating.  Furthermore, we will now be tracking and reporting generosity using a Generosity rating.  Donations strengthen the Game Mercenaries community and those supporters will be recognized and reported on a newly created leaderboard. </p>

			<h3>No More Fees</h3>
			<p class="lead text-justify">We are eliminating our $0.99 transaction fee so that the entire donation goes to the mercenary.   This site is about you the gamer and we want to give you the best shot at getting some money doing what you love. </p>

			<h3>Honest Ratings</h3>
			<p class="lead text-justify">In an effort to encourage more honest feedback we are making ratings anonymous and allowing users to rerate players on their Rate & Block players page.  You ratings will be included in a users average rating but not disclosed.  Your qualitative rating/review comments will show up on a user’s page but will NOT be attributed to your profile. </p>


			<p class="lead text-justify">More information can be found on our updated FAQ and How To pages.  As always, our goal is to help connect gamers, reward good players, and encourage good behavior. </p>


		</section>
		<br>
		<section class="update">
			<h2 class="mb0 text-primary">Puerto Rico</h2>
			<span class="update-meta">Oct. 28th, 2015</span>
			<p class="lead text-justify">We are no longer able to process payments for users in Puerto Rico as PayPal has withdrawn service from the US territory over a tax dispute. We are hopeful PayPal will resume service at some point, but until then, users in Puerto Rico will not be permitted to participate in paid transactions. However, users can still find other great players for free play and can look forward to new features in the coming months.</p>
		</section>
		<br>
		<section class="update">
			<h2 class="mb0 text-primary">New Titles</h2>
			<span class="update-meta">Oct. 26th, 2015</span>
			<p class="lead text-justify">Get ready for the holidays and a new batch of titles.  The following titles have been added based on user requests and the title slate:</p>
			<ul>
				<li><h4>Halo 5: Guardians</h4></li>
				<li><h4>Star Wars Battlefront</h4></li>
				<li><h4>Call of Duty: Black Ops 3</h4></li>
				<li><h4>Call of Duty: Modern Warfare 3</h4></li>
				<li><h4>Guitar Hero Live</h4></li>
				<li><h4>Elite: Dangerous</h4></li>
				<li><h4>Rainbow Six Siege</h4></li>
				<li><h4>Payday 2</h4></li>
				<li><h4>Dark Souls 2</h4></li>
			</ul>
		</section>

	</div>
</div>
