<div class="background-block content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <%= image_tag("game-mercenaries.png") %>
      </div>
      <div class="col-md-9 col-sm-8">
        <h1 class="mt0 stencil-header">500 Error</h1>

        <h3 class="text-justify">When one door closes another door normally opens...but not right now because we can't find that door. Please return to the Home page or <%= link_to "Contact Us", contact_path %> if the problem persists.</h3>
      </div>
    </div>
  </div>
</div>
