<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mt0">Post Availability</h2>
				<p class="lead text-primary">Use this page to let users know when you are available to play and if you would like to post a suggested donation.</p>
				<%= render '/shared/event_form' %>
			</div>
		</div>
	</div>	
</div>
