<div class="background-block content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Welcome to The Game Roster Open Beta</h2>
        <p class="text-justify">Visit the My Account page to customize your profile, add games to your library, link videos, and set your preferences.  You have received 60 days of Elite benefits for being an Open Beta user that helps us test our new site.  Thank you for your support.</p>
        <div class="form-group">
          <%= link_to 'CONTINUE', subscriptions_promotional_read_path, :method => 'post', :class=> 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
