<div class="row">
  <div class="col-md-12">
    <div class="roster-invites-wrapper clearfix">
      <ul class="list-unstyled">
        <%= render :partial => 'shared/clan_card_col_half', collection: resource.clans, as: :clan %>
      </ul>
    </div>
  </div>
</div>