<p>You get what you give. Ratings are the lifeblood of the service and help others identify good players while flagging those that should be avoided. </p>

<p>
  Personality Rating - measures your player's attitude and how much you enjoyed your time.  You're not hiring an entertainer but no one wants to play with a troll.<br>
  Skill Rating - measures how well a player performed during your game.  Keep in mind that everyone can have an off day and that performance is affected by the team, strategy, and assigned roles (e.g. a sniper may not do as well in close quarters).<br>
  Approval - measures the player’s professionalism regarding the overall experience.  Did they respond to messages, donate, and show up on time?<br>
</p>

<p>Note: Ratings and cancelation rates are not calculated until a player has feedback from 3 users.  This allows newer players time to establish a reputation.  </p>
