<div class="form-group">
   <span class="btn btn-primary btn-file btn-block" data-toggle="modal" data-target="#upload_avatar_basic">
   <span class="file-label" >Upload Avatar</span>
   </span>
</div>
<div class="modal fade" id="upload_avatar_basic" tabindex="-1" role="dialog" aria-labelledby="myUserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-medium">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><b>Upload Avatar</b></h4>
      </div>
      <div class="modal-body contract-details">
        <p >This feature is for premium users. Please visit our <%= link_to 'subscriptions', profile_subscription_path %> page to lean more about premium benefits.</p>
      </div>
    </div>
  </div>
</div>