<div class="container p-x-0-xs">
  <div class="well clan-well">
    <%= render "clans/clan_header", active: 'links' %>

    <div>
		<h3>LINKS</h3>
		<%= render "links", clan: @clan %>
    </div>

    <br>
  </div>
</div>
