<% if flash.present? %>
  <div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-medium">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"><b>Login</b></h4>
        </div>
        <div class="modal-body contract-details">
          <div class="row">
          <% flash.each do |type, messages| %>
              <% ((messages.is_a? Array) ? messages : [messages]).each do |message| %>
                  <div class="col-md-12 text-primary text-center">
                    <%= message %>
                  </div>
              <% end %>
          <% end %>
          </div>



        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#error_modal').modal();
      });
    </script>
<%end%>
<%flash.clear %>